<section class="section club" id="club">
  <div class="club__container">
    <div class="container">
      <h2 class="title">Join The Club!</h2>
      <div class="club__block">
        <figure class="club__item">
          <div class="club__pic">
            <img src="./assets/img/club/club-img-1.png" alt="club-img" class="club__img">
          </div>
          <figcaption class="club__desc">
            <p class="club__title">CHOOSE</p>
            <p class="club__text">Customize your perfect skincare routine and have it delivered right to your front door. Enjoy 33% off retail pricing
              on the most in demand skincre products.</p>
          </figcaption>
        </figure>
        <figure class="club__item">
          <div class="club__pic">
            <img src="./assets/img/club/club-img-2.png" alt="club-img" class="club__img">
          </div>
          <figcaption class="club__desc">
            <p class="club__title">SEE</p>
            <p class="club__text">From transforming textures and cutting edge formulas, to on trend releases and demand products, experience the results
              driven solutions NxN offers and discover what all the hype is about.</p>
          </figcaption>
        </figure>
        <figure class="club__item">
          <div class="club__pic">
            <img src="./assets/img/club/club-img-3.png" alt="club-img" class="club__img">
          </div>
          <figcaption class="club__desc">
            <p class="club__title">EXPLORE</p>
            <p class="club__text">You're in control! Switch it up, swap it out, or put it on hold. The power of complete flexibility is yours with each
              and every shipment. Get ready to enjoy, explore, and play in the world of Nxn.</p>
          </figcaption>
        </figure>
      </div>
      <div class="btn--center">
        <button class="btn btn--empty">TRY IT NOW</button>
      </div>
    </div>  
  </div>
  <div class="member">
    <div class="container">
      <div class="member__desc">
        <div class="member__desc--top">
          <h2 class="title">What to expect</h2>
          <p class="member__text">Members receive discounted pricing plus perks such as preferred access to new releases, access to exclusive products, free
            full size samples, and travel friendly testers</p>
        </div>
        <div class="member__desc--bot">
          <p class="member__sub">Why should I become a member?</p>
          <p class="member__text">Members receive discounted pricing plus perks such as preferred access to new releases, access to exclusive products, free
            full size samples, and travel friendly testers</p>
        </div>
      </div>
      <div class="btn--center">
        <button class="btn btn--empty btn--large">SEE Faqs</button>
      </div>
    </div>
  </div>
</section>