<footer class="footer">
    <div class="footer__container">
        <div class="footer__main">
            <div class="container--large">
                <div class="footer__main-container">
                    <a href="#" class="footer__item footer__pic">
                        <img src="./assets/img/footer/footer-logo.png" alt="" class="footer__logo">
                    </a>
                    <div class="footer__item">
                        <a href="#" class="footer__title">SUPPORT</a>
                        <div class="footer__desc">
                            <a href="#" class="footer__text">FAQ</a>
                            <a href="#" class="footer__text">CONTACT US</a>
                            <a href="#" class="footer__text">TERMS OF SERVICE</a>
                            <a href="#" class="footer__text">PRIVACY</a>
                            <a href="#" class="footer__text">SWEEPS</a>
                        </div>
                    </div>
                    <div class="footer__item">
                        <a href="#" class="footer__title">ACCOUNT</a>
                        <div class="footer__desc">
                            <a href="#" class="footer__text">MY ACCOUNT</a>
                            <a href="#" class="footer__text">ORDER HISTORY</a>
                            <a href="#" class="footer__text">SHIPPING AND DELIVERIES</a>
                        </div>
                    </div>
                    <div class="footer__item">
                        <a href="#" class="footer__title">ABOUT</a>
                        <div class="footer__desc">
                            <a href="#" class="footer__text">ABOUT US</a>
                            <a href="#" class="footer__text">HOW IT WORKS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bot">
            <div class="container--large">
                <div class="footer__bot-container">
                    <a href="#" class="footer__sign">©Two Minute Club All Rights Reserved 2016</a>
                    <div class="footer__icons">
                        <a href="#">
                            <i class="fa fa-twitter footer__icon footer__icon--tw" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook footer__icon footer__icon--fb" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram footer__icon footer__icon--insta" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>