<section class="section formulas" id="formulas">
  <div class="formulas__container">
    <div class="formulas__block">
      <div class="formulas__item">
        <div class="formulas__pic">
          <img src="./assets/img/formulas/formulas-img-1.png" alt="formulas-img">
        </div>
      </div>
      <div class="formulas__item">
        <div class="formulas__desc">
          <h2 class="formulas__title title">Behind The Formulas</h2>
          <ul class="formulas__list">
            <li class="formulas__text">Crulty free beauty products you'll love</li>
            <li class="formulas__text">Worry free natural ingredients that you can trust</li>
            <li class="formulas__text">Natural formulas developed by leading botanical scientists and cosmetic chemists</li>
            <li class="formulas__text">Results you can see</li>
            <li class="formulas__text">Easy to use systems that specifically target and solve various skin concerns</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="formulas__block">
      <div class="formulas__item">
        <div class="formulas__desc--second">
          <h2 class="formulas__title--second title">Glowing Skin Is Our Thing</h2>
          <p class="formulas__sub">NxN is rooted in a commitment to using the most potent and effective natural ingredients conveniently bringing you the latest and greatest skincare products to your doorstep at affordable prices.</p>
          <button class="btn btn--empty">START GLOWING NOW</button>
        </div>
      </div>
      <div class="formulas__item">
        <div class="formulas__pic">
          <img src="./assets/img/formulas/formulas-img-2.png" alt="formulas-img">
        </div>
      </div>
    </div>
    <div class="formulas__block">
      <div class="formulas__item">
        <div class="formulas__pic">
          <img src="./assets/img/formulas/formulas-img-3.png" alt="formulas-img">
        </div>
      </div>
      <div class="formulas__item">
        <div class="formulas__desc formulas__desc--third">
          <h2 class="formulas__title formulas__title--third title">What Is Not In NxN :</h2>
          <ul class="formulas__list formulas__list--third">
            <li class="formulas__text formulas__text--third">HARMFUL CHEMICALS </li>
            <li class="formulas__text formulas__text--third">SULFATES</li>
            <li class="formulas__text formulas__text--third">PARABENS</li>
            <li class="formulas__text formulas__text--third">PHTHALATES</li>
            <li class="formulas__text formulas__text--third">ARTIFICIAL COLORANTS</li>
            <li class="formulas__text formulas__text--third">MINERAL OILS</li>
            <li class="formulas__text formulas__text--third">PETROLATUM</li>
            <li class="formulas__text formulas__text--third">COMMON ALLERGENS</li>
            <li class="formulas__text formulas__text--third">PROPYLENE GLYCON</li>
            <li class="formulas__text formulas__text--third">FORMALDEHYDE</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>