<section class="section gallery">
  <h2 class="title">Follow us <a href="#"><img src="./assets/img/insta/insta-icon.png" alt="insta-icon" class="gallery__icon"></a> @NxNBeauty</h2>
  <div class="gallery__container">
    <div class="gallery__block">
      <div class="gallery__item">
        <img src="./assets/img/insta/insta-img-1.png" alt="insta-img" class="gallery__img">
      </div>
    </div>
    <div class="gallery__block">
      <div class="gallery__item">
        <img src="./assets/img/insta/insta-img-2.png" alt="insta-img" class="gallery__img">
      </div>
      <div class="gallery__item">
        <img src="./assets/img/insta/insta-img-3.png" alt="insta-img" class="gallery__img">
      </div>
    </div>
    <div class="gallery__block">
      <div class="gallery__item">
        <img src="./assets/img/insta/insta-img-4.png" alt="insta-img" class="gallery__img">
      </div>
    </div>
    <div class="gallery__block">
      <div class="gallery__item">
        <img src="./assets/img/insta/insta-img-5.png" alt="insta-img" class="gallery__img">
      </div>
      <div class="gallery__item">
        <img src="./assets/img/insta/insta-img-6.png" alt="insta-img" class="gallery__img">
      </div>
    </div>
  </div>
</section>