<header class="header">
	<div class="header__top container--large">
		<div class="toggle">
			<span class="toggle__item down"></span>
			<span class="toggle__item fade"></span>
			<span class="toggle__item up"></span>
		</div>
		<a href="#" class="header__title">Menu</a href="#">
		<nav class="burger">
			<ul class="burger__menu">
				<li class="burger__item">
					<a href="#" class="burger__link">Main</a>
				</li>
				<li class="burger__item">
					<a href="#" class="burger__link">Support</a>
				</li>
				<li class="burger__item">
					<a href="#" class="burger__link">Account</a>
				</li>
				<li class="burger__item">
					<a href="#" class="burger__link">About</a>
				</li>
			</ul>
		</nav>
		<a href="#" class="header__logo">
			<img src="./assets/img/header/header-logo.png" alt="header-logo">
		</a>
		<div class="header__contacts">
			<a href="tel:1-844-896-6462" class="header__link header__link--right"><img src="./assets/img/header/header-phone.png" alt="header-phone" class="header__phone">1-844-896-6462
			</a>
			<span>|</span>
			<a href="#" class="header__link header__link--left">Login
				<img src="./assets/img/header/header-path.png" alt="header-path" class="header__path">
			</a>
		</div>
	</div>
	<div class="header__main">
		<img src="./assets/img/header/header-bg.png" alt="header-bg" class="header__img">
		<div class="header__front front">
			<p class="front__title">Access Granted!</p>
			<div class="front__sub">
				<div class="front__col front__col--left">
					<p class="front__text front__text--bold">Everything you want:</p>
					<p class="front__text">- Performance driven results</p>
					<p class="front__text">- Value driven pricing</p>
				</div>
				<div class="front__col front__col--right">
					<p class="front__text front__text--bold">Nothing you don't:</p>
					<p class="front__text">- No harmful toxins</p>
					<p class="front__text">- No sketchy manufacturing</p>
					<p class="front__text front__text--sign">(Proudly manufactured in the USA, never tested on animals)</p>
				</div>
			</div>
			<button class="btn btn--fill" type="submit">shop now</button>
		</div>
	</div>
	<nav class="header__nav nav">
		<div class="container">
			<ul class="nav__menu">
				<li class="nav__item active">
					<a href="#systems" class="nav__link">
						<img src="./assets/img/nav/nav-img-1.png" alt="nav-img" class="nav__img">
					</a>
					<a href="#" class="nav__img--caption">Our Systems</a>
				</li>
				<li class="nav__item">
					<a href="#formulas" class="nav__link">
						<img src="./assets/img/nav/nav-img-2.png" alt="nav-img" class="nav__img">
					</a>
					<a href="#" class="nav__img--caption">Formulas</a>
				</li>
				<li class="nav__item">
					<a href="#club" class="nav__link">
						<img src="./assets/img/nav/nav-img-3.png" alt="nav-img" class="nav__img">
					</a>
					<a href="#" class="nav__img--caption">Join the club</a>
				</li>
				<li class="nav__item">
					<a href="#reviews" class="nav__link">
						<img src="./assets/img/nav/nav-img-4.png" alt="reviews" class="nav__img">
					</a>
					<a href="#" class="nav__img--caption">Reviews</a>
				</li>
			</ul>
		</div>
	</nav>
</header>