<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="title reviews__title">Facebook Comments</h2>
    <div class="reviews__container">
      <div class="reviews__block">
        <p class="reviews__sign">Commented on <span>NxN Beauty</span></p>
        <div class="reviews__item">
          <img src="./assets/img/reviews/reviews-img-1.png" alt="reviews-img" class="reviews__img">
          <div class="reviews__info">
            <p class="reviews__comment"><span>Midge Snook</span> Have been using this for a couple of months and it's wonderful. It does exactly as advertised.</p>
            <time datetime="2017-06-02T11:10:44" class="reviews__date">Jun 2, 2017 11:10:44 AM</time>
          </div>
        </div>
      </div>
      <div class="reviews__block">
        <p class="reviews__sign">Commented on <span>NxN Beauty</span></p>
        <div class="reviews__item">
          <img src="./assets/img/reviews/reviews-img-2.png" alt="reviews-img" class="reviews__img">
          <div class="reviews__info">
            <p class="reviews__comment"><span>Patricia Ann Smith</span> Have been using this for a couple of months and it's wonderful. It does exactly as advertised.</p>
            <time datetime="2017-06-02T11:10:44" class="reviews__date">Jun 2, 2017 11:10:44 AM</time>
          </div>
        </div>
      </div>
      <div class="reviews__block">
        <p class="reviews__sign">Commented on
          <span>NxN Beauty</span>
        </p>
        <div class="reviews__item">
          <img src="./assets/img/reviews/reviews-img-3.png" alt="reviews-img" class="reviews__img">
          <div class="reviews__info">
            <p class="reviews__comment">
              <span>Deborah Wolford Toy</span> Have been using this for a couple of months and it's wonderful. It does exactly as advertised.</p>
            <time datetime="2017-06-02T11:10:44" class="reviews__date">Jun 2, 2017 11:10:44 AM</time>
          </div>
        </div>
      </div>
    </div>
    <div class="btn--center">
      <button class="btn btn--empty btn--large">SEE MORE COMMENTS</button>
    </div>
  </div>
  
</section>