<section class="section systems" id="systems">
  <div class="container">
    <h2 class="title">Our Systems</h2>
    <div class="systems__container">
      <div class="systems__item">
        <div class="systems__pic">
          <img src="./assets/img/systems/systems-img-1.png" alt="systems-img" class="systems__img">
        </div>
        <div class="systems__desc">
          <p class="systems__title">DRY / SENSITIVE SYSTEM</p>
          <p class="systems__sub">TOTAL MOISTURE</p>
        </div>
        <button class="btn btn--empty" type="submit">shop now</button>
      </div>
      <div class="systems__item">
        <div class="systems__pic">
          <img src="./assets/img/systems/systems-img-2.png" alt="systems-img" class="systems__img">
        </div>
        <div class="systems__desc">
          <p class="systems__title">DRY / SENSITIVE SYSTEM</p>
          <p class="systems__sub">TOTAL MOISTURE</p>
        </div>
        <button class="btn btn--empty" type="submit">shop now</button>
      </div>
    </div>
  </div>
</section>