//  Variables

// Colors

$bgcolor:                   #074261;
$color_white:               #ffffff;
$color_black:               #353535; 
$color_navy:                #023c5a; //header
$color_violet:              #54326a; //titles
$color_green:               #00c8b6; //button bg
$color_gray:                #4e4e4e; //subtitle
$color_blue:                #758fc7; //nxn beauty
$color_blue-dark:           #4267b2; //fb comment name
$color_gray-light:          #9098a8; //date



// Fonts
$primary_font: 'GothamProBold', sans-serif;
$second_font: 'GothamProILight', sans-serif;
$third_font: 'GothamProRegular', sans-serif;
$header-font: 'FuturaPTHeavy', sans-serif;

$font-size-base: 10px;

$time: 0.3s;


// Social
// $socials: (
//         fb: #12699b,
//         tw: #12699b,
//         yb: #12699b,
//         inst: #12699b,
//         vk: #12699b,
//         goo: #12699b,
//         rss: #12699b
// );
